extends layout.pug
block content  
  section#content
    div
      img#magnifying(src='https://imageog.flaticon.com/icons/png/512/49/49116.png' alt='magnifying')
      form
        .form-group.text-center
          ul
            li
              label(for='formGroupExampleInput2') Nhiệt độ thời tiết Đất nước bạn muốn tìm là?
            li
              input.form-control#formGroupExampleInput2(type='text' placeholder='Tên thành phố')
            li
              a(href='/') Tìm kiếm
