extends layout.pug
block content  
  section#content
    div.navbar
      div
        a.active(href='#') Home
      div
        form(action="/users" method='post')
          ul.d-flex.justify-content-end.flex-wrap
            li.formLi  
              input(type="text" placeholder="Username" name="username")
            li.formLi
              input(type="text" placeholder="Password" name="psw")
            li.formLi
              button(type="submit") Login
  
    div#formSearch
      img#magnifying(src='https://imageog.flaticon.com/icons/png/512/49/49116.png' alt='magnifying')
      form.form-group.text-center(action="/" method='post')
          ul
            li
              label(for='formGroupExampleInput2') Nhiệt độ thời tiết Đất nước bạn muốn tìm là?
            li
              input.form-control#formInputWeather(type='text' placeholder='Tên thành phố')
            li
              button(type="submit") Tìm kiếm

    form(action='/user', method='post')
      label Hello 
        input(type='text', name='users')
        button(type='submit') Submit 
              
    