body {
    background: rgb(199, 207, 211);
    text-align: center;
    margin: 100px auto;
    max-width: 462px;
    padding: 0 40px;
}

#searchIcon, #magnifying {
    width: 40%;
    margin: 0 25% 0 25%;
}

input {
    font-size: 18px;
    padding: 1em 0;
    text-align: center;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #D5DDE4;
    color: #2C3238;
}

.button {
    border-color: #5FB6E1;
    background: #5FB6E1;
    color: #fff;
}

#error {
    width: 100%;
    padding: 22px 0;
    background: #FFE6B2;
    color: #C5A14E;
    position: absolute;
    left: 0;
    top: 0;
}

#profile {
    background: #fff;
    border-radius: 4px;
    border: 1px solid #D5DDE4;
    padding: 40px 0 0;
    margin: -40px 0 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 40px 0 0;
    font-size: 24px;
}

li {
    display: inline-block;
    width: 100%;
    padding: 22px 0;
    margin: 0;
}

a, a:visited {
    color: #5FB6E1;
    text-decoration: none;
    font-size: 18px;
}

span {
    color: #2C3238;
}