extends layout.pug
block content  
  form
  section.today_nowcard-container
    .d-flex
      .box.today_nowcard-container
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo aspernatur possimus eveniet facere consectetur laudantium beatae, quasi fugit voluptates ipsam doloribus, id eius dolores et maiores quos incidunt, est ipsum.
      .box.today_nowcard-loader-container
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi aspernatur natus totam animi eveniet sed iusto molestias incidunt voluptatem obcaecati. Sunt ad ratione ea excepturi fugiat provident praesentium quas perferendis!

