* {
    box-sizing: border-box;
}
/* Common */
.bold {
   font-weight: bold;
}

.regular {
    font-weight: normal !important;
    color: black;
}

.text-color-red {
    color: red !important;
}

.center {
    text-align: center;
}

/* layout */
#form1 {
    width: 60%;
    margin: 1em auto;
    padding: 2em 2em;
    border: solid 3px black;
    background: lightslategray;
}

.block {
    display: block;
}

.column {
    float: left;
    width: 50%;
    margin-left: auto;
}

#email, #firstname, #lastname {
    background-color:lightgray;
    height: 3em;
}

#firstname, #lastname {
    width: 95%;
}


#email {
    width: 100%;
}

.sub-button {
    width: 100%;
    height: 3em;
    background: lightsalmon;
    padding: 0;
    margin: 1em auto;
    border: none;
}

/* clearfix */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}